{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <section class="login-container">
        <div >
            <h2 class="panel-title" >Suivre d'autres utilisateurs</h2>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input>
                <button type="submit" >Envoyer</button>
            </form>
            <p>{{ message }}</p>

            <h3 class="panel-title">Abonnements</h3>
            <h3 class="panel-title">-o-o-o-o-o-o</h3>
            <form method="post">
                {% for userfllow in userfllows %}
                    <table>
                        <tr>
                            <td class="userflowers_col">{{ userfllow.followed_user }}</td>
                            <td><button type="submit" >Désabonner</button></td>
                        </tr>
                    </table>

                {% endfor %}
            </form>
            <h3 class="panel-title">Abonnés</h3>
            <h3 class="panel-title">-o-o-o-o-o-o</h3>

            <table>
                {% for follower in followers %}

                        <tr>
                            <td class="flowers_col">{{ follower.user }}</td>
                        </tr>


                {% endfor %}
            </table>
        </div>
    </section>
</div>
{% endblock content %}
