{% extends 'blog/base.html' %}
{% block content %}
    <p>abonnements</p>
    {% for review in reviews %}
        <p>Vous avez publié une critique    {{ review.time_created }}</p>
        <p>étoiles : {{ review.rating }}</p>
        <p> {{ review.body }}</p>
        <p>{{ review.headline }}</p>
        <ul>
            <li>Ticket - {{ review.ticket.user }}
                <p>{{ review.ticket.title }}</p>
                <p>{{ review.ticket.description }}</p>
                <img src={{ review.ticket.image }}>
            </li>
        </ul>
    {% endfor %}
{% endblock content %}
