{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <section class="login-container">
            <h2 class="panel-title">Ajouter  un ticket</h2>
            <form class="input_class" action="" method="post" enctype="multipart/form-data">
                {{ ticket_form.as_p }}
                {% csrf_token %}
                <div class="button-container">
                    <button type="submit" class="default-button" >Envoyer</button>
                </div>
            </form>
            <p>{{ message }}</p>
    </section>
</div>
{% endblock content %}
