{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <section class="login-container">
        <h2 class="panel-title" >Ajouter une critique</h2>
        <div>
            <form class="encadrement_post_critique" action="" method="post" enctype="multipart/form-data">
                <div class="input_class">
                    {{ ticket_form.as_p }}
                </div>
            </form>
            <form class="encadrement_post_critique" action="" method="post" enctype="multipart/form-data">
                <div class="input_class">
                    {{ review_form.as_p }}
                </div>
                {% csrf_token %}
                <div class="button-container">
                    <button type="submit" class="default-button">Envoyer</button>
                </div>
            </form>
            <p>{{ message }}</p>
        </div>
    </section>
</div>
{% endblock content %}
