<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'blog/styles.css' %}" />
    </head>
    <body>
        {% if user.is_authenticated %}
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="{% static 'images/logo.png' %}" alt="Logo_page"/>
                    </div>
                </div>
                <ul id="menu">
                    <li><a href=".">Flux</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Abonnements</a></li>
                    <li><a href="#">{{request.user}}</a>
                        <ul>
                            <li><a href="#">Mon profil</a></li>
                            <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </header>
        </div>

        {% endif %}

        {% block content %}{% endblock content %}

    </body>
</html>
