{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <section class="login-container">
        <h2 class="panel-title" >Créer une critique</h2>
        <div>
            <div class="encadrement_post_critique">
                <p>Vous êtes en train de poster en réponse à</p>
                <div class="encadrement_post_critique">
                    <p>Ticket - {{ ticket.user }}</p>
                    <p>{{ ticket.title }}</p>
                    <p>{{ ticket.description }}</p>
                    <img src="/media/{{ticket.image }}">
                </div>
            </div>
            <div class="encadrement_post_critique">
                <p>Critique</p>
                <form action="" method="post" enctype="multipart/form-data">
                    {{ review_form.as_p }}
                    {% csrf_token %}
                    <div class="button-container">
                        <button type="submit" class="default-button">Envoyer</button>
                    </div>
                </form>
            </div>
            <p>{{ message }}</p>
        </div>
    </section>
</div>
{% endblock content %}
