{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <section class="login-container">
        <div class="login_container_home">
            <form method="link" action="{% url 'add_tickets' %}">
                <button type="submit" class="btn btn-lg btn-success btn-block">Ajouter  un  ticket</button>
            </form>
            <form method="link" action="{% url 'add_critique' %}">
                <button type="submit" class="btn btn-lg btn-success btn-block">Créer une critique</button>
            </form>
        </div>
        {% for user_followed in list_users_followed %}
            <p> {{ user_followed.followed_user }}</p>
        {% endfor %}

        {% for reviews_users in reviews %}
            {% for review in reviews_users %}

                <div class="encadrement_post_critique">
                    <div class="publication_date">
                        {% if review.user == request.user %}
                            <p> Vous avez publié une critique</p>
                        {% else %}
                            <p> {{review.user}} à publié une critique</p>
                        {% endif %}
                        <p> {{ review.time_created }}</p>
                    </div>
                    <p>étoiles : {{ review.rating }}</p>
                    <p> {{ review.body }}</p>
                    <p>{{ review.headline }}</p>
                    <div class="encadrement_post_critique">
                        <p>Ticket - {{ review.ticket.user }}</p>
                        <p>{{ review.ticket.title }}</p>
                        <p>{{ review.ticket.description }}</p>
                        <img src="/media/{{ review.ticket.image }}">
                    </div>
                </div>
                <p></p>
            {% endfor %}
        {% endfor %}

        {% for tickets_user in tickets %}
            {% for ticket in tickets_user %}
                <div class="encadrement_post_critique">
                    <div class="publication_date">
                        {% if ticket.user == request.user %}
                            <p> Vous avez demandé une critique</p>
                        {% else %}
                            <p>{{ticket.user }} a demandé une critique</p>
                        {% endif %}
                        <p> {{ ticket.time_created }}</p>
                    </div>
                    <p>{{ticket.title }}</p>
                    <p>{{ticket.description }}</p>
                    <img src="/media/{{ticket.image }}">
                    <div class="button-container">
                        <a type="submit" class="default-button" href="{% url 'creatreview' ticket.id %}">Créer une critique</a>
                    </div>
                </div>
            <p></p>
            {% endfor %}
        {% endfor %}
    </section>
</div>
{% endblock content %}
