{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <section class="login-container">
        <div class="login_container_home">
            <form method="link" action="{% url 'add_tickets' %}">
                <button type="submit" class="btn btn-lg btn-success btn-block">Ajouter  un  ticket</button>
            </form>
            <form method="link" action="{% url 'add_critique' %}">
                <button type="submit" class="btn btn-lg btn-success btn-block">Créer une critique</button>
            </form>
        </div>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'blog/ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'blog/review_snippet.html' %}
            {% endif %}
        {% endfor %}
    </section>
</div>
{% endblock content %}
