{% extends 'blog/base.html' %}
{% block content %}
    <section >
        <div class="login-container_home">
            <form method="link" action="{% url 'add_tickets' %}">
                <button type="submit" class="btn btn-lg btn-success btn-block">Ajouter  un  ticket</button>
            </form>
            <form method="link" action="{% url 'add_critique' %}">
                <button type="submit" class="btn btn-lg btn-success btn-block">Créer une critique</button>
            </form>
        </div>

        {% for review in reviews %}
        <p>Vous avez publié une critique    {{ review.time_created }}</p>
        <p>étoiles : {{ review.rating }}</p>
        <p> {{ review.body }}</p>
        <p>{{ review.headline }}</p>

        <p>Ticket - {{ review.ticket.user }}
            <p>{{ review.ticket.title }}</p>
            <p>{{ review.ticket.description }}</p>
            <img src="/media/{{ review.ticket.image }}">
        </p>

    {% endfor %}
    </section>


{% endblock content %}
