{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <section class="login-container">
        <h2 class="panel-title" >Modifier une critique</h2>
        <div>
            <div class="encadrement_post_critique">
                <p>Vous êtes en train de poster en réponse à</p>
                <div class="encadrement_post_critique">
                    <p>Ticket - {{ tickets.user }}</p>
                    <p>{{ tickets.title }}</p>
                    <p>{{ tickets.description }}</p>
                    <img src="/media/{{tickets.image }}">
                </div>
            </div>
            <div class="encadrement_post_critique">
                <p>Critique</p>
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="input_class">
                        {{ review_form.as_p }}
                        {% csrf_token %}
                        <div class="button-container">
                            <button type="submit" class="default-button">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            <p>{{ message }}</p>
        </div>
    </section>
</div>
{% endblock content %}
