{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <section class="login-container">
        <h2 class="panel-title" >Modifier un ticket</h2>
        <form class="input_class" action="" method="post" enctype="multipart/form-data">
            {{ ticket_form.as_p }}
            {% csrf_token %}
            <div class="button-container">
                <button type="submit" class="default-button" >Envoyer</button>
            </div>
        </form>
        <p>{{ message }}</p>

        <div class="encadrement_post_critique">
                <div class="publication_date">
                    <p>{{ticket_form.user }} a demandé une critique</p><p> {{ ticket_form.time_created }}</p>
                </div>
                <p>{{ticket_form.title }}</p>
                <p>{{ticket_form.description }}</p>
                <img src="/media/{{ticket_form.image }}">

            </div>
    </section>
</div>
{% endblock content %}
