<div class="encadrement_post_critique">
    <div class="publication_date">
        {% if post.user == request.user %}
            <p> Vous avez demandé une critique</p>
        {% else %}
            <p>{{post.user }} a demandé une critique</p>
        {% endif %}
        <p> {{ post.time_created }}</p>
    </div>
    <p>{{post.title }}</p>
    <p>{{post.description }}</p>
    <img src="/media/{{post.image }}">
    <div class="button-container">
        <a type="submit" class="default-button" href="{% url 'creatreview' post.id %}">Créer une critique</a>
    </div>
</div>
<p></p>
