
body
{
    background-color: lightgrey;
}
#bloc_page
{
    width: 900px;
    margin: auto;
}
@media all and (max-width: 2400px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 767px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 600px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 400px)
{
    #bloc_page
    {
        width: auto;
    }
}

/*------------------------------------------------------------------------------------------------------------------- */

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#logo img
{
    height: 80px;
}

ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: white;
    border-top: 1px solid black;
    padding: 5px 15px 5px 15px;
    background: #e67e22;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background: #d35400;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #e67e22; }
li:hover li a:hover {
    background: #d35400;
}
/*------------------------------------------------------------------------------------------------------------------- */

/*------------------------------------------------------------------------------------------------------------------- */
