
body
{
    background-color: lightgrey;
}
#bloc_page
{
    width: 900px;
    margin: auto;
}
@media all and (max-width: 2400px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 3500px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 767px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 600px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 400px)
{
    #bloc_page
    {
        width: auto;
    }
}

/*------------------------------------------------------------------------------------------------------------------- */

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

img{
    height: 200px;
}
.logo_img{
    height: 80px;
}
header ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li {
    display: block;
    position: relative;
    float: left;
}
header li ul {
    display: none;
}
header ul li a {
    display: block;
    text-decoration: none;
    color: white;
    border-top: 1px solid black;
    padding: 5px 15px 5px 15px;
    background: #e67e22;
    margin-left: 1px;
    white-space: nowrap;
}
header ul li a:hover {
background: #d35400;
}
header li:hover ul {
    display: block;
    position: absolute;
}
header li:hover li {
    float: none;
    font-size: 11px;
}
header li:hover a { background: #e67e22; }
header li:hover li a:hover {
    background: #d35400;
}
/*------------------------------------------------------------------------------------------------------------------- */
table, th, td {
  border: solid 1px #000;
  padding: 10px;
}
table {
    border-collapse:collapse;
    caption-side:bottom;
}
p
{
    word-wrap: break-word;
}
.panel-title{
    text-align: center;
}

.login-container {
    display: block;
    width: 75%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.login_container_home
{
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}
.login_container_post
{
    display: flex;
    justify-content: space-evenly;
}
.button-container {
    display: flex;
    justify-content: flex-end;
}
.publication_date{
    display: flex;
    justify-content: space-between;
}
section.login-container > div{
    text-align: left;
}

form input[type="text"],
form button[type="submit"] {
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*
    Au survol et au focus des champs de saisie de texte,
    nous changeons la couleur d’arrière-plan.
*/
form input[type="text"]:focus,
form input[type="text"]:hover{
    background-color: #ccc;
}

/*
    Mises-en forme du bouton pour l’envoi du formulaire.
*/
form button[type="submit"] {
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;
    background-color: #e67e22;
}

.default-button {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #e67e22;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}
/*
    Mises-en forme du bouton pour l’envoi du formulaire au survol et au focus.
*/
form button[type="submit"]:focus,
form button[type="submit"]:hover {
    background-color: #d35400;
}

.formulaire_container {
    display:flex;
}

.userflowers_col {
    width: 78%;
    text-align: left;
}
.flowers_col {
    width: 8.5%;
    text-align: left
}


.form-title {
    height:2rem;
    text-align: center;
    width: 145%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.encadrement_post_critique {
    border: 1px solid black;
    padding: 5px;
    text-align:left;
}

.input_class{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-left: 15px;

}

.input_class > p {
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
    margin-bottom:40px;
}

.input_class >div> p {
    display: flex;
    width: 65%;
    flex-direction: column;
    margin-bottom:40px;
    margin-left:20px;
}

.rating_class {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-start;
}

#id_title {
    padding: 16px;
}

.btn {
    padding: 16px;
}

.form-desc {
    width:145%;
    height:10rem;
}
.forms {
    display:flex;
    flex-direction:column;
    width:80%;
}

.form-text {
    display:flex;
    margin: 10px;
}

.search_bar {
    display:flex
}


.checked {
  color: orange;
}
