
body
{
    background-color: lightgrey;
}
#bloc_page
{
    width: 900px;
    margin: auto;
}
@media all and (max-width: 2400px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 767px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 600px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 400px)
{
    #bloc_page
    {
        width: auto;
    }
}

/*------------------------------------------------------------------------------------------------------------------- */

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#logo img
{
    height: 80px;
}

header ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li {
    display: block;
    position: relative;
    float: left;
}
header li ul {
    display: none;
}
header ul li a {
    display: block;
    text-decoration: none;
    color: white;
    border-top: 1px solid black;
    padding: 5px 15px 5px 15px;
    background: #e67e22;
    margin-left: 1px;
    white-space: nowrap;
}
header ul li a:hover {
background: #d35400;
}
header li:hover ul {
    display: block;
    position: absolute;
}
header li:hover li {
    float: none;
    font-size: 11px;
}
header li:hover a { background: #e67e22; }
header li:hover li a:hover {
    background: #d35400;
}
/*------------------------------------------------------------------------------------------------------------------- */



.login-container {
    display: flex;
    width: 450px;
    margin: auto;
}
section.login-container > div{
    width: 450px;

    margin: auto;

    padding: 20px;

    text-align: center;

    background: #eee;
    border: 1px solid #ccc;

    border-radius: 5px;

}

form input[type="text"],
form button[type="submit"] {
    padding: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

/*
    Au survol et au focus des champs de saisie de texte,
    nous changeons la couleur d’arrière-plan.
*/
form input[type="text"]:focus,
form input[type="text"]:hover{
    background-color: #ccc;
}

/*
    Mises-en forme du bouton pour l’envoi du formulaire.
*/
form button[type="submit"] {
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;
    background-color: #e67e22;
}

/*
    Mises-en forme du bouton pour l’envoi du formulaire au survol et au focus.
*/
form button[type="submit"]:focus,
form button[type="submit"]:hover {
    background-color: #d35400;
}

.formulaire_container {
    display:flex;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
}
