{% extends 'litreview_app/base.html' %}

{% block content %}


<div class="wrapper">
    <h1>Litreview Login </h1>
    <section class="login-container">
        <div>
            <header>
                <h2>Identification</h2>
            </header>
            <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" >Se connecter</button>
                </form>
                <p>{{ message }}</p>

            <h3 class="panel-title">Inscrivez-vous maintenant</h3>
            <form method="link" action="{% url 'inscription' %}">
                <button type="submit" class="btn btn-lg btn-success btn-block" > Cliquez ici </button>
            </form>
        </div>
    </section>
</div>

{% endblock %}
